  .payment-content {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
  }

  .payment-left {
    flex: 1;
    min-width: 300px;
  }

  .order-summary-container {
    flex: 1;
  }

  .payment-methods {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
  }

  .payment-method {
    flex: 1;
    background-color: #fff;
    padding: 1rem;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
    border: 0.1rem solid #b6b6b6;
  }

  .payment-method input {
    display: none;
    margin-right: 0.5rem;
  }


  .payment-method.selected {
    border-color: #222;
    background-color: #e6f0ff;
  }

  .payment-form {
    margin-top: 1rem;
  }

  .order-summary-item td {
    font-size: 20px;
  }

  .label-with-icon {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    height: 100%;
  }

  .paypal-icons {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    height: 100%;
  }

  .paypal-icon {
    height: 24px;
  }