# === Backend ===
/backend/target/
/backend/.idea/
/backend/*.iml

# === Backend Integration ===
/backend-integration/target
/backend-integration/.idea/
/backend-integration/*.iml

# === Frontend ===
/frontend/node_modules/
/frontend/build/
/frontend/dist/
#/frontend/.env*
# Keep frontend folder but ignore unneeded stuff

*.iml

# === System / Logs ===
.DS_Store
*.log