# === Backend ===
/backend/target/
/backend/.idea/
/backend/*.iml

# === Frontend ===
/frontend/node_modules/
/frontend/build/
/frontend/dist/
#/frontend/.env*
# Keep frontend folder but ignore unneeded stuff

# === System / Logs ===
.DS_Store
*.log
