aws_region  = "eu-central-1"
project_name = "lab-away"
environment = "production"

domain_name = "lab-away.com"

frontend_bucket_name = "lab-away-production-frontend-20261007"
images_bucket_name   = "lab-away-production-images-20261007"
eb_instance_type = "t3.micro"
