.remove-button {
  width: 20px;
  height: 20px;
  justify-content: center;
  text-align: center;
  line-height: 14px;
  border:
    1px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
  border-radius:
    50%;
  background:
    #fff;
  font-weight: 500;
  font-size: 14px;
}

.remove-button:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.product-image {
  cursor: pointer;
}

.product-title-link {
  text-decoration: none;
  color: #000;
  cursor: pointer;

}

.product-title {
  cursor: pointer;
  font-weight: normal;
}

tbody {
  border: 1px solid var(--primary-color)
}

@media (max-width: 768px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead {
    display: none;
  }

  tbody {
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    max-width: 100%;
    background-color: var(--background-color);
  }

  td {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 0;
    border: none;
  }

  td::before {
    content: attr(data-label);
    font-weight: bold;
    color: #555;
    flex-basis: 40%;
    flex-shrink: 0;
    padding-right: 10px;

  }

  .product-cell {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .product-info {
    margin-top: 0;
  }

  tr:last-child {
    margin-bottom: 0;
  }

  .totals-table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--background-color);
  }

  .totals-table thead {
    display: none;
  }

  .totals-table tbody tr {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
  }

  .totals-table tbody td {
    display: inline-block;
    width: auto;
    padding: 0;
    margin: 0;
  }

  .totals-table tbody td:first-child {
    font-weight: bold;
  }

  .totals-table tbody td:last-child {
    text-align: right;
  }
}