/* src/components/common/Button.css */
.primary-button {
    margin-top: 20px;
    padding: 12px 24px;
    background-color: #fff;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .primary-button:hover {
    background-color: var(--primary-color);
    color: #fff;
  }
  
  .delete-button {
  background-color: #dc3545; 
  color: white;
  border: none;
}

.delete-button:hover {
  background-color: #c82333;
}

.delete-button:active {
  background-color: #bd2130;
}

.delete-button:disabled {
  background-color: #e4606d;
  cursor: not-allowed;
  opacity: 0.7;
}

.button-group {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
}