.product-details {
    background-color: #f9f9f9;
    margin: 1rem;
    text-align: center;
    
  }

  .product-details:hover{
    background-color: rgba(42,116,237,0.1);
  }
  
  .add-to-cart-button {
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    color: #000;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 0px;
    cursor: pointer;
    width: 100%;
    text-transform: uppercase;
  }
  
  .add-to-cart-button:hover {
    background-color: var(--primary-color);
    color: #000;
  }
  