.scroll-to-top-button {
  position: fixed;
  bottom: 5rem;
  right: 2rem;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.4);
  color: #292929;
  font-size: 22px;
  z-index: 100;
  background: transparent;
  cursor: pointer;
}

.scroll-to-top-button:hover {
  background-color: var(--primary-color);
  color: #fff;
  border: 1px solid #0693e3;
}

@media only screen and (max-width: 768px) {
  .scroll-to-top-button {
    display: none;
  }
}