.footer-about-with-logo {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 20px 40px;
}

.footer-about-with-logo > * {
  flex: 0 1 auto;
}

.footer--short .footer-about {
  width: auto;
  padding: 0;
  flex: 1;
}

@media (max-width: 768px) {
  .footer-about-with-logo {
    display: block; /* disable flex */
    padding: 0px;
    position: relative;
  }

  .footer-about-with-logo > :first-child {
    float: left;
    margin-right: 16px;
    margin-bottom: 8px;
  }

  .footer-about-with-logo > :last-child {
    display: block;
    /* no margin-left here */
  }

  /* clearfix */
  .footer-about-with-logo::after {
    content: "";
    display: table;
    clear: both;
  }
}
