.email-input {
    background-color: transparent;
    border: none;
    outline: none; 
}

.sign-up-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: 600;
}