.align-right {
  text-align: right;
}


/* ShippingPage.css */
.shipping-page-grid {
  display: grid;
  grid-template-columns: 48% 48%;
  gap: 2rem;
  align-items: start;
  overflow: visible;
  min-height: 100vh;

}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.summary-section {
  background-color: var(--background-color);
  padding: 1.5rem;
  border-radius: 8px;
  height: fit-content;
  position: sticky;
  top: 2rem;
}

.summary-wrapper {
  position: relative;
}