.input-cell {
    border: 1px solid #EAEAEA;
    padding: 14px 15px;
    height: 46px;
    margin-bottom: 20px;
    color: #909090;
    font-weight: 400;
    font-size: 18px;

    background: #fff;
}
