.App {
  text-align: center;
}


.pre-line-text {
  white-space: pre-line;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.page-container {
  padding: 0 var(--spacing-lg);
  margin: 0 calc(3 * var(--spacing-lg)) var(--spacing-lg);
  overflow-x: hidden;
}


html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #4EDAFD;
  --secondary-color: #007BFF;
  --background-color: #F2FCFF;
  --breakpoint-mobile: 768px;
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;
  --spacing-xl: 3rem;
}

@media (max-width: 768px) {
  .page-container {
    padding: 0 var(--spacing-sm);
    margin: 0 auto;
  }
}