.product-info {
    font-size: 24px;
    min-height: 100px;
}

.title-placeholder {
  display: block;
  width: 100%;
  min-height: 100px;
  background-color: transparent;
  visibility: hidden;
}


.main-image {
    width: 100%;
}

.price {
    font-size: 18px; 
}

.product-actions {
  display: flex;
  align-items: center;
  gap: 1rem; 
}

.product-actions .add-to-cart-button {
  margin-top: 0;
}
