.order-summary {
  background-color: var(--background-color);
  border-radius: 8px;
  padding: 2rem;
  width: 100%;
  box-sizing: border-box;
}

.section-title {
  font-size: 20px;
  margin-bottom: 16px;
}

.order-summary-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.order-summary-table tbody {
  border: none;
}

.order-summary-table td {
  padding: 0px;
  font-size: 14px;
}

.order-summary-price {
  text-align: right;
  white-space: nowrap;
}

.order-summary-item td {
  border-bottom: 1px solid #e0e0e0;
}

.order-summary-item small {
  font-size: 12px;
}

.order-summary-section td {
  padding-top: 16px;
  font-weight: bold;
}

.order-summary-totals td {
  padding-top: 10px;
}

.order-summary-total td {
  font-weight: bold;
  padding-top: 12px;
}

.remove-button-container {
  text-align: center;
}