.stripe-form {
    margin: auto;
    width: 100%;
    border-radius: 1rem;
    padding: 1rem;
    background-color: var(--background-color);
  }
  
  .input-label {
    display: block;
    font-size: 0.9rem;
    color: #000;
    font-weight: 600;
    margin-bottom: 0.4rem;
  }
  

  .stripe-input.StripeElement--focus {
    border-color: #0070f3;
    background-color: #fff;
  }
  
  .form-group {
    margin-bottom: 1.2rem;
  }
  
  .form-row {
    display: flex;
    gap: 1rem;
  }
  
  .half-width {
    flex: 1;
  }

.place-order-button {
  margin-top: 5%;
  background-color: var(--primary-color);
  color: #000;
  border-radius: 20px;
  width: 100%;
  text-transform: uppercase;
  font-size: 14px;
  height: 55px;
  line-height: 35px;
}

.place-order-button:hover {
  cursor: pointer;
}
  

.stripe-input-wrapper {
  position: relative;
  width: 100%;
  border: 1px solid #F0F0FA;
}

.stripe-input {
  padding-right: 48px; /* Space for the icon on the right */
}

.card-brand-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  height: 24px;
  width: auto;
  pointer-events: none;
}
